<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .button{
            background-color: black;
            border-color: transparent;
            color: white;
            font-size: 15px;
            border-radius: 5px;
            text-align: center;
            height: 60px;
            width: 430px;
            font-family: Arial Narrow;
        }
        .fontstyle{
            font-family: Arial Narrow;
        }
    </style>
    <title>QUIZ API SERVER</title>
</head>
<body bgcolor="cyan">
    <center><h1 class="fontstyle">QUIZ API SERVER</h1></center>
    <hr color="black">
    <br><br><br><br><br><br><br>
    <center>
    <button onclick="location.href = 'quiz';" id="myButton" class="button" onmouseover="this.style.backgroundColor='wheat'" onmouseout="this.style.backgroundColor='black'">QUIZES</button><br><br>
    <button onclick="location.href = 'r/django';" id="myButton" class="button" onmouseover="this.style.backgroundColor='wheat'" onmouseout="this.style.backgroundColor='black'">DJANGO RANDOM QUESTIONS</button><br><br>
    <button onclick="location.href = 'q/django';" id="myButton" class="button" onmouseover="this.style.backgroundColor='wheat'" onmouseout="this.style.backgroundColor='black'">DJANGO ALL QUESTIONS</button>
    </center>
</body>
</html>